@tailwind base;
@tailwind components;
@tailwind utilities;

.navbarButton {
    padding: 0.2rem 0.7rem;
    background-color: red;
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: 5px;
}

